.App {
  width:100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.App {
  background-image: url("./assets/imagenCochinita.webp"); /* Asegúrate de que la ruta sea correcta */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}